:root {
    /* ---- COLORS ---- */
    /* Primary Colors */
    --primary-black: #0f0f0f;
    --primary-gray: #222222;
    --primary-red: #ff0033;

    /* Font Colors */
    --primary-text-color: #f1f1f1;
    --secondary-text-color: #aaaaaa;
    --tertiary-text-color: #4f4f4f;

    /* Grays */
    --color-gray-50: hsl(0, 0, 9%);
    --color-gray-100: hsl(0, 0, 12%);
    --color-gray-150: hsl(0, 0, 16%);
    --color-gray-200: hsl(0 0 18%);
    --color-gray-400: hsl(0 0 40%);
    --color-gray-600: hsl(0 0 55%);
    --color-gray-700: hsl(0 0 65%);
    --color-gray-800: hsl(0 0 77%);
    --color-gray-1000: hsl(0 0 96%);

    /* ---- BORDER COLORS ---- */
    --border-gray-100: hsl(0, 0%, 18.82%);
    --border-gray-200: #3f3f3f;

    /* ---- BACKGROUND COLORS ---- */
    --search-bg: #121212;

    /* ---- FONT SIZES ---- */
    --font-size-ss: 10px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-ll: 24px;
    --font-size-ul: 28px;

    /* ---- FONT FAMILY ---- */
    --font: Roboto, Arial, sans-serif;

    /* ---- FONT WEIGHTS ---- */
    --heavy: 900;
    --bold: 700;
    --semibold: 500;
    --normal: 400;
    --thin: 300;

    /* ---- ICON SIZES ---- */
    --icon-size-md: 24px;

    /* ---- PADDING SIZED ---- */
    --padding-base: 4px;
    --padding-2x: 8px;
    --padding-3x: 12px;
    --padding-4x: 16px;
    --padding-5x: 20px;
    --padding-6x: 24px;
    --padding-7x: 28px;
    --padding-8x: 32px;
    --padding-9x: 36px;
    --padding-10x: 40px;
    --padding-11x: 44px;
    --padding-12x: 48px;
    --padding-14x: 56px;
    --padding-16x: 64px;
    --padding-17x: 68px;
    --padding-24x: 96px;
    --padding-25x: 100px;
    --padding-35x: 140px;

    /* ---- MARGIN SIZES ---- */
    --margin-base: 4px;
    --margin-2x: 8px;
    --margin-3x: 12px;
    --margin-4x: 16px;
    --margin-5x: 20px;
    --margin-6x: 24px;
    --margin-7x: 28px;
    --margin-8x: 32px;
    --margin-9x: 36px;
    --margin-10x: 40px;
    --margin-11x: 44px;
    --margin-12x: 48px;
    --margin-14x: 56px;
    --margin-16x: 64px;
    --margin-17x: 68px;
    --margin-24x: 96px;
    --margin-25x: 100px;
    --margin-35x: 140px;
    --neg-margin-base: -4px;
    --neg-margin-2x: -8px;
    --neg-margin-3x: -12px;
    --neg-margin-4x: -16px;
    --neg-margin-5x: -20px;
    --neg-margin-6x: -24px;
    --neg-margin-7x: -28px;
    --neg-margin-8x: -32px;
    --neg-margin-10x: -40px;
    --neg-margin-11x: -44px;
    --neg-margin-12x: -48px;
    --neg-margin-14x: -56px;
    --neg-margin-16x: -64px;
    --neg-margin-24x: -96px;
    --neg-margin-25x: -100px;

    /* GAPS */
    --gap-base: 4px;
    --gap-2x: 8px;
    --gap-3x: 12px;
    --gap-4x: 16px;
    --gap-6x: 18px;
    --gap-7x: 24px;
    --gap-8x: 28px;
    --gap-9x: 30px;
    --gap-10x: 32px;

    /* ---- BORDER RADIUS ---- */
    --round-base: 4px;
    --round-2x: 8px;
    --rount-3x: 12px;

    /* ---- ADDITIONAL VARIABLES ---- */
    /* ---- VEDIO ---- */
    --vedio-frame-height: 292px;

    /* NAVIGATION BAR VARIABLES */
    --nav-search-width: 512px;
}

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
input {
    all: unset;
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px;
}
address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after {
    content: "";
}
abbr,
acronym {
    border: 0;
}

button {
    border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-black);
    color: var(--primary-text-color);
    font-family: var(--font);
    font-weight: var(--normal);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-gray);
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--border-gray-200);
}
